name: Create Release Asset

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create ZIP archive
        run: |
          zip -r obs_anket_otomasyonu.zip manifest.json content_script.js injected.js popup.html popup.js icons/ README.md LICENSE

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: obs_anket_otomasyonu.zip
          token: ${{ secrets.GITHUB_TOKEN }}
